:root {
  --time: 1s ease 0.25s,
  color 1.25s ease 0s;
}

.App {
  background: linear-gradient(rgb(117, 144, 235), rgb(152, 153, 158));
  min-height: 100vh;
  width: 100%;
  padding: 15px;
}

.App input, .App button {
  border: 0;
  border-radius: 16px;
  color: #fff;  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  height: 36px;
  font-size: 16px;
}

.App header form {
  display: flex;
  gap: 12px;
}

.App input {
  background-color: rgb(91, 88, 138);
  flex: 1;
}

.App input::placeholder {
  color: white;

  font-size: 16px;
}

.App input:focus, textarea:focus {
  outline: none;
}

.App button {
  background-color: hsl(350, 72%, 36%);
  color: #fff;
  transition: .2s ease-in-out;
}

.App button:hover {
  background-color: hsl(332, 71%, 26%);

  transition: var(--time);

  cursor: pointer;
}

.App main {
  margin: 36px 0px;
}

.App h1 {
  text-align: center;
  margin: 36px 0px;
}

.App h2 {
  font-weight: 400;
  margin-bottom: 18px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 72px 0;
}

.current-weather p {
  font-size: 48px;
}

.current-weather p + p {
  font-size: 32px;
}

.forecast ol {
  list-style: none;
}

.forecast ol li {
  padding: 8px 24px;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
}

.forecast ol li + li {
  margin-top: 8px;
}

.forecast ol li h3 {
  font-weight: 400;
  min-width: 120px;
  text-align: left;
}

.forecast ol li div {
  display: flex;
  min-width: 90px;
}

.forecast ol li div svg {
  font-size: 18px;
  margin-right: 8px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Montserrat;
  font-size: 20px;

  margin-bottom: 10px;
}

.copyright {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.contact {
  text-decoration: none;
}

.contact:hover {
  background-color: hsl(332, 71%, 26%);
  background-image: none;

  transition: var(--time);
}

.gradient {
  background-color: red;
  background-image: linear-gradient(45deg, red, white);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.go-up {
  transform: translateY(-5vh);
}

.lastdiv {
  display: flex;
  flex-direction: row;

  justify-content: center;
  
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 425px) {
  .copyright {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1024px) {
  .move {
    transform: translateY(-15vh);
  }

  .up {
    transform: translateY(-8vh);
  }
}
